
.ship-form{
    margin: 20px 25px;
}

.ship-form input{
    display: block;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 300px;

}

.error{
    color: red;
}