.myBtn{
    margin-right: 10px;
    margin-left: 10px;
}

.text{
    font-weight: 500;
    font-size: 20px;
}

.navOnProductDetails{
    margin-bottom: 100px;
}

.particularItemDetails{
    margin-top: 100px;
}